video::-webkit-media-controls {
    /* background-color: #333; */
    display: "flex";
    flex-directtion: "flex-column";
    color: red;
  }

  video::-webkit-media-controls-play-button {
    /* background-color: #333; */
    color: white;
  }
  
  video::-webkit-media-controls-pause-button {
    background-color: #333;
    color: white;
  }
  video::-webkit-media-controls-volume-slider {
    background-color: #333;
  }

  video::-webkit-media-controls-timeline::-webkit-media-slider {
    background: red; /* Change the color of the progress bar */
  }

  /* video::-webkit-media-controls-timeline {
    background-color: blue;
  } */

  video::-webkit-media-controls-timeline::-webkit-media-slider-thumb {
    background-color: #ff5722; /* Change the color of the thumb */
    border: 2px solid #ff5722; /* Add a border to the thumb */
    width: 12px; /* Adjust the width of the thumb */
    height: 12px; /* Adjust the height of the thumb */
    border-radius: 50%; /* Make the thumb a circle */
  }