@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "netflix-sans";
    src: url("./fonts/NetflixSans-Bold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "netflix-sans";
    src: url("./fonts/NetflixSans-Light.otf");
    font-weight: 300;

}
@font-face {
    font-family: "netflix-sans";
    src: url("./fonts/NetflixSans-Regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "netflix-sans";
    src: url("./fonts/NetflixSans-Medium.otf");
    font-weight: 500;
}
*{
    font-family: "netflix-sans";
}

body{
    height: 100vh;
    background-color: gray;

}

