#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-button-prev {
  background-color: white;
  background-color: black;
  color: white;
  opacity: 0.4;
  left: 0;
  top: -40px;
  height: auto;
  padding: 50px 20px;
  position: absolute;
  fill: black !important;
  stroke: black !important;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  z-index: 60;
}

.swiper-button-next {
  background-color: white;
  background-color: black;
  color: white;
  opacity: 0.5;
  right: 0;
  top: -40px;
  height: auto;
  padding: 50px 20px;
  position: absolute;
  fill: black !important;
  stroke: black !important;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  z-index: 60;
}

/* margin-top: calc(0px - (var(--swiper-navigation-size) / 1.8)); */
